@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #707070;
  font-family: 'Roboto', '游ゴシック', 'Yu Gothic', '游ゴシック体', 'YuGothic', sans-serif;
  font-feature-settings: "palt";
  letter-spacing: 0.025em;
  line-height: 1.75;
}

img {
  max-width: 100%;
  height: auto;
}

.slick-arrow {
  display: none !important;
}

.head {
  background-image: url(../img/mainbg.png);
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head_text {
  flex-direction: column;
  color: white;
}

.head_text_title {
  font-size: 48px;
  text-align: center;
}

.head_text_description {
  font-size: 36px;
  margin-top: 40px;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  height: 80px;
  border: 1px solid #efefef;
}

.nav_img {
  display: flex;
}

.nav_img_h1 {
  width: 250px;
  height: auto;
  object-fit: contain;
}

.nav_list {
  display: flex;
  align-items: center;
}

.nav_list li {
  margin-right: 70px;
  font-size: 21px;
}

.nav_list li:last-of-type {
  margin-right: 0;
}

.nav_list li > a {
  color: #707070;
}

.page {
  position: relative;
}

.page_title {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 3rem;
  color: #fff;
  transform: translate(0, -50%);
}

.about_text {
  width: 960px;
  margin: 0 auto;
  text-align: center;
  margin: 120px auto 80px;
}

.about_text h2 {
  font-size: 24px;
  color: #ffd61a;
}

.about_text_1st {
  margin-top: 24px;
}

.about_text_2nd {
  margin-top: 64px;
}

.about_text_3rd {
  margin-top: 40px;
}

.about_text_4th {
  margin-top: 40px;
}

.about_text_5th {
  margin-top: 40px;
}

.about_img {
  display: flex;
}

.about_img img {
  display: block;
}

.course {
  width: 960px;
  margin: 0 auto;
}

.course_text {
  margin: 64px auto 0;
}

.course_text h2 {
  font-size: 24px;
  color: #222222;
  text-align: center;
  margin-bottom: 20px;
}

.course_text p {
  text-align: center;
}

.course_box {
  margin-top: 64px;
}

.course_box_list {
  display: flex;
}

.course_box_list_img {
  width: 50%;
}

.course_box_list_item {
  width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #efefef;
}

.course_box_list_item div {
  margin: 0 48px;
}

.course_box_list_item div h3 {
  font-size: 24px;
  color: #222222;
  margin-bottom: 40px;
}

.reverse {
  flex-direction: row-reverse;
}

.news_title {
  margin: 64px 0;
}

.news_title h2 {
  font-size: 24px;
  color: #ffd61a;
  text-align: center;
}

.news_title p {
  text-align: center;
}

.news_box {
  width: 960px;
  margin: 0 auto;
  display: flex;
}

.news_box_item {
  width: 33.333%;
  margin-right: 32px;
  cursor: pointer;
  color: #707070;
}

.news_box_item_date {
  margin-top: 32px;
  margin-bottom: 24px;
}

.news_box_item img {
  width: 100%;
}

.news_box_item:last-of-type {
  margin-right: 0;
}

.news_btn {
  text-align: center;
  margin-top: 56px;
  margin-bottom: 48px;
}

.news_btn button {
  width: 300px;
  height: 60px;
  font-size: 21px;
  background-color: #ffd61a;
  color: #fff;
  border: none;
  cursor: pointer;
}

.access {
  background-color: #fafafa;
}

.access_container {
  width: 960px;
  margin: 0 auto;
}

.access_container_title {
  padding-top: 64px;
}

.access_container_title h2 {
  text-align: center;
  font-size: 24px;
  color: #222222;
}

.access_container_title p {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 64px;
}

.access_container_map {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  /* 縦横比の指定 */
  overflow: hidden;
}

.access_container_map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.access_container_box {
  padding-top: 64px;
  padding-bottom: 80px;
}

.access_container_box_table {
  margin: 0 auto;
}

.access_container_box_table tbody tr th {
  padding: 12px 24px 12px 0;
}

.contact {
  width: 960px;
  margin: 0 auto 100px;
}

.contact_title {
  padding: 64px 0;
}

.contact_title h2 {
  text-align: center;
  font-size: 24px;
  color: #222222;
}

.contact_title p {
  text-align: center;
  margin-top: 24px;
}

.contact_text {
  text-align: center;
}

.contact_text_last {
  margin: 32px 0 80px;
}

.contact_form {
  margin: 0 auto;
  width: 700px;
}

.contact_form_list {
  display: flex;
}

.contact_form_list dt {
  line-height: 36px;
}

.contact_form_list dt label {
  display: block;
  width: 250px;
}

.contact_form_list dt .list_purpose {
  display: block;
  width: 250px;
}

.contact_form_list dd .enter {
  width: 328px;
  height: 36px;
  border: 1px solid #bfbfbf;
  margin-bottom: 24px;
}

.contact_form_list dd .forty {
  margin-bottom: 40px;
}

.contact_form_list_check dd {
  margin-bottom: 24px;
}

.contact_form_list_check dd div input {
  width: 24px;
  height: 24px;
  color: #f0ebe5;
  vertical-align: bottom;
  margin-right: 40px;
}

.contact_form_list_check .thrtytwo {
  margin-bottom: 32px;
}

.contact_form_list textarea {
  width: 328px;
  height: 108px;
  border: 1px solid #bfbfbf;
}

.contact_form_btn {
  text-align: center;
  margin-top: 40px;
}

.contact_form_btn input {
  width: 298px;
  height: 54px;
  background-color: #ffd61a;
  color: #fff;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.footer {
  background-color: #707070;
  text-align: center;
}

.footer small {
  display: block;
  font-size: 18px;
  color: #fff;
  padding: 32px 0;
}

/*--------------------------------
  scroll animation fadein
--------------------------------*/
.js-scroll-fadein {
  transition: opacity 1s;
  visibility: hidden;
  opacity: 0;
}

.js-scroll-fadein.is-fadein {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------
  arrow
--------------------------------*/
.arrow {
  position: fixed;
  right: 40px;
  bottom: 20px;
  color: #fff;
  cursor: pointer;
  background-color: #c4c4c4;
  border-radius: 22px;
  padding: 20px;
  transition: all 0.2s ease-in-out;
}

.arrow:hover {
  opacity: .8;
  bottom: 15px;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.5);
}

.arrow:before, .arrow:after {
  content: "";
  width: 12px;
  height: 12px;
  border-top: solid 3px #fff;
  border-right: solid 3px #fff;
  transform: rotate(-45deg);
  position: absolute;
  left: 13px;
}

.arrow:before {
  top: 11px;
}

.arrow:after {
  top: 21px;
}

.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  background-color: #fff;
}

.index a.active {
  color: #fff;
  background-color: #ffd61a;
  display: block;
  padding: 10px;
  border-radius: 15px;
}

.topic {
  width: 960px;
  margin: 100px auto;
}

.topic_box {
  background-color: #efefef;
  padding: 100px 0;
  border-radius: 50px;
}

.topic_box_img {
  text-align: center;
}

.topic_box_text {
  width: 700px;
  margin: 0 auto;
  padding-top: 50px;
}

.topic_box_text_title {
  margin: 30px 0;
  font-size: 2rem;
  font-weight: bold;
}

.archive_box {
  display: flex;
  width: 80%;
  margin: 0 auto;
  border-top: 1px solid #222222;
  border-bottom: 1px solid #222222;
  margin: 50px auto;
  padding: 20px 0;
  cursor: pointer;
}

.archive_box_title {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 50px;
}
